*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: rgba(0,0,0,.05);
  font-size: 14px;
}

.app-logo {
  padding: 8px 24px;
  font-size: 24px;
}

.main-content {
  padding: 8px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.chart-card {
  margin: 12px;
  padding-right: 24px;
  flex: 1 1 300px;
  min-width: 300px;
  max-width: 500px;
  background: white;
  border-radius: 4px;
}

.time-bar {
  padding: 16px 32px;
  display: flex;
  align-items: center;
}
.time-bar__toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.time-bar__toggle > i { color: grey; }
.time-bar__toggle-label {
  color: grey;
  font-weight: 500;
  margin-right: 12px;
}
